<table class="table table-bordered table-hover">
<tr>
  <th>#</th>
  <th>Name</th>
  <th>E-mail</th>
</tr>
<tr  *ngFor="let user of users;" [routerLink]="['', { outlets: { popup: ['user', user.id] } }]">
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.email}}</td>
</tr>
</table>