<div bsModal #popup="bs-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Detailed information</h4>
        <button type="button" class="close pull-right" (click)="popup.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <table *ngIf="currentUser" class="table">
          <tr><td>Name:</td><td>{{currentUser.name}}</td></tr>
          <tr><td>Email:</td><td>{{currentUser.email}}</td></tr>
          <tr><td>Address:</td><td>{{currentUser.address}}</td></tr>
          <tr><td>Phone:</td><td>{{currentUser.phone}}</td></tr>
          <tr><td>Website:</td><td>{{currentUser.website}}</td></tr>
          <tr><td>CompanyName:</td><td>{{currentUser.companyName}}</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>